/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2016, 8:55:09 AM
    Author     : Choukou_Tracker
*/

.post{
    width: 100%;
    border: 1px solid #ededed;
    background-color: #fff;
    text-align: left;
    border-collapse: collapse;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    -moz-box-shadow: 0 4px 4px rgba(243,243,243,0.56);
    -webkit-box-shadow: 0 4px 4px rgba(243,243,243,0.56);
    box-shadow: 0 4px 4px rgba(243,243,243,0.56); 
}
.post th {
    color: #3f4751;
    font-size: 16px;
    font-weight: bold;
    border-top: none;
    border-bottom: none;
}
.post td, .post th {
    padding: 7px 13px;
    border: 2px solid #f1f1f1;
    border-top: none;
    vertical-align: middle;
}
/*
.post p {
     width: 300px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}*/
.post p{
    font-size: 18px;
    width: 100%;
    height: 51px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0px;
}
.post a{
    font-size: 19px;
    font-weight: bold;
    color: #00C5CE;
}
.post span{
    color:#939292;
}
.post img{
    width: 60px; 
    height: 60px;
    border-radius: 50%;
}
.pth{
}
.pth a{
  color:#fff;
}
.pth a:hover{
  color:#19D1D1;
}
.cmt{
    background: #E0E9F3;
}
.search_box{
    background: #fff;
    min-height: 100px;
    background-image: url(../images/search_box.png);
}
.search_box h3{
    font-size: 37px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #E2EAEF;
    padding-left: 20px;
    margin-left: 137px;
}
.search_inpt{
    background: #E2EAEF !important;
    height: 36px !important;
    border: 2px #00C5CE solid !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    margin-top: 8px !important;
}
.search_btn{
    margin-top: 8px;
    margin-left: -19px;
    height: 40px;
}
.bdg_nbr{
    font-weight: 500;
    color: #fff !important;
    background-color: #26a69a;
    border-radius: 50%;
}
.mat_box{
    width: 100%;
    min-height:500px;
    margin-top: -14px;
    background: #546E7A;
    border: 2px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.mat_box ul{
    padding-left: 25px
}
.mat_box a{
    color: #E2EAEF;
    font-size: 18px;
}
.mat_box a:hover{
color: #83D1CA;
}
.sujet_box{
    margin-top: 8px;
    background: #fff;
    border: 3px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.closed{
    display: none;
}
.closed form{
    display: none;
}
.add_subject_box{
   display: block;
    width: 100%;
    background: #6EB3B6;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 40px;
}
.add_subject_box form{
    display: block;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.add_subject_box form input ,.add_subject_box form textarea{
       background: #F5F5F5;
    border: 2px #00C5CE solid;
}
.add_subject_box form textarea{
    min-height: 120px;
}
.add_subject_box form label{
   font-size: 1.3rem;
    color: #FFFFFF;
}