
<script type="text/javascript">
    {{ chart(chart) }}

</script>  

    <div class="col-md-4">
                    
                    <div class="card-body height-8">
                        <div class="card-body height-8">
                            <div id="piechart" class="flot height-8"></div>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>
</div>
